{{define "content"}}
<div>
  <h1>Привет, {{ .UserInfo.Name }}!</h1>
  <h3>Ваша группа {{ .UserInfo.GroupID }}.</h3>
</div>
<div>
  <div>
    <h4>
      {{if .UserInfo.Role}}
      Задачи для проверки:
      {{else}}
      Ваши текущие задачи:
      {{end}}
    </h4>
  </div>
  <div>
    {{range $key, $value := .Tasks}}
    <div class="task_box">
      <p>{{ $value.TaskInfo.Name }}</p>
      <p>{{ $value.TaskInfo.Description }}</p>
      <form action="/{{ .UserInfo.UserID }}/tasks/{{ $value.TaskInfo.TaskID }}" method="GET">
        <input type="button" class="submit_button" value="Открыть задачу">
      </form>
    </div>
    {{end}}
  </div>
</div>
{{end}}
